:root {
    --tw-primary: #1E1E1E;

    --tw-white: #ffffff;
    --tw-header-table: #272727;

    --tw-yellowFF: #FFD700;
    --tw-redD1: #D12030;
    --tw-green14: #149E53;
    --tw-black54: #545454;

    /* font */

    --tw-input-height: 48px;
}